<div class="about">

  <div class="aboutbackground">
    <div class="content">
      <h1> Welcome </h1>
      <hr class="short-underline">
    </div>
  </div>

  <div class="abouttext">
    <div class="content">
      <br>
      <div class="text-center"> Join Us For a Chat </div>
      <div class="text-center"> Have a joke you would like to share? </div>
      <div class="text-center"> Post it on the forums, win a cookie! </div>
      </div>
      <div class="text-center"> Go for a drink, have a laugh, meet your mates </div>
    </div>

  <section class="aboutus">

    <div class="content">
    <hr class="short-underline">
    <div class="text-center"> Who Are We? </div>
    <hr class="short-underline">
    <br>
    </div>
  </section>

  <section class="aboutimg-container">
    <div class="aboutimg">
      <%= image_tag "bill.jpg", class: "img-responsive"%>
      <h2> Billy </h2>
    </div>
    <div class="aboutimg">
      <%= image_tag "abe.jpg", class: "img-responsive"%>
      <h2> Abby </h2>
    </div>
  </section>

  <section class="aboutus">

    <div class="content">
    <br>
    <div class="text-center"> We enjoy a good laugh </div>
    <div class="text-center"> Laughter is sweet </div>
    <div class="text-center"> Our doctors are proud </div>
    <p class="text-center"> Our vitals clear </p>
    <br>
    <hr class="short-underline">
    <p class="text-center"> Get More Here </p>
    <hr class="short-underline">
  </section>

  <section class="features">
    <div class="feature text-center">
      <%= fa_icon 'forumbee 3x'%>
      <%= link_to "landing", root_path %>
    </div>
    <div class="feature text-center">
      <%= fa_icon 'facebook-official 3x' %>
      <%= link_to "https://www.facebook.com/DonaldTrump/" %>
    </div>
  </section>
</div>
