<div class="comment text-center" data-id="<%=comment.id%>">
  <%= image_tag comment.image, class: "img-responsive" %>
  <h4><%= comment.body %><h4>

    <div class="control-panel">
      <% if comment.user == current_user %>
        <%= link_to "Edit Comment", edit_topic_post_comment_path(post.topic, post, comment), remote: true, class: 'btn btn-secondary' %>
      <% end %>

      <% if comment.user == current_user || current_user&.admin? || current_user&.moderator? %>
        <%= link_to ('Delete Comment'), topic_post_comment_path(post.topic, post, comment), remote: true, method: :delete, data: { confirm: "Delete Comment?"}, :class => 'btn btn-primary btn-;g'%>
      <% end %>
    </div>

    <div class="comment-vote-container">
         <div class="comment-vote">
           <%= link_to "Upvote", upvote_path({ comment_id: comment.id }), method: :post, remote: true%>
           <%= link_to "Downvote", downvote_path({ comment_id: comment.id }), method: :post, remote: true%>
         </div>

         <div class="comment-total-votes">
           <%=comment.total_votes%>
         </div>

     </div>

     <br>
     <%=link_to "Posted by #{comment.user.username} at #{comment.created_at}", root_path, class: 'comment-detail' %>

</div>
