<div id="comment-partial-container" data-id="<%= @post.id %>" class="text-center">
    <h1>Comments</h1>

    <div id="comments">
        <% @comments.each do |comment| %>
        <%= render partial: "comments/comment", locals: { comment: comment, post: @post, topic: @topic } %>
        <% end %>
    </div>

</div>

<div class="form-container">
    <%= render partial: "comments/form", locals: { comment: @comment, post: @post } %>
</div>

<div id="paginate">
    <%= paginate @comments %>
</div>

<div class="text-center">
  <br>
    <%= button_to "Back to Post", topic_posts_path, :method => :get %>
</div>
