<div class="landing">

  <div class="background">
    <div class="content">
    <h1><%= link_to current_user.username, edit_user_path(current_user) %></h1>
    </div>
  </div>

  <div class="background2">
    <div class="content1">
      <div class="invinsible-layout">
        <div class="sexybox">
          <h1> bye </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="background3">
    <div class="content">
      <h1> apasal </h1>
    </div>
  </div>

  <div class="features-container">
    <h1 class="text-center"> WARNING </h1>

    <section class="features">
      <div class="feature text-center">
        <%= fa_icon 'wheelchair-alt 3x' %>
        <h2> Why are you still here? </h2>
      </div>
      <div class="feature1 text-center">
        <%= fa_icon 'minus-circle 4x' %>
        <h2> go away! </h2>
      </div>
      <div class="feature text-center">
        <%= fa_icon 'map-o 5x'%>
        <h2> fine.. </h2>
      </div>
      <div class="feature1 text-center">
        <%= fa_icon 'paper-plane-o 4x' %>
        <h2> zzzzz </h2>
      </div>
    </section>
  </div>

  <section class="photo-container">
    <div class="photo-box img-rounded">
      <div class="invinsible-layout">
        <div class="sexybox">
          <h3>meow!</h2>
        </div>
      </div>
      <%= image_tag "bear.jpg", class: "img-responsive img-settings img-cirle"%>
    </div>
    <div class="photo-box img-rounded">
      <div class="invinsible-layout">
        <div class="unsexybox">
          <h2>quack!</h2>
        </div>
      </div>
      <%= image_tag "cat.jpg", class: "img-responsive img-settings img-rounded"%>
    </div>
    <div class="photo-box img-rounded">
      <div class="invinsible-layout">
        <div class="sexybox">
          <h2>mooo!</h2>
        </div>
      </div>
      <%= image_tag "chick.jpg", class: "img-responsive img-settings img-thumbnail"%>
    </div>
    <div class="photo-box img-rounded">
      <div class="invinsible-layout">
        <div class="unsexybox">
          <h2>oink?</h2>
        </div>
      </div>
      <%= image_tag "drink.jpg", class: "img-responsive img-settings img-circle"%>
    </div>
  </section>

  <section class="contact">
    <div class="h3 text-center"> Want More? </div>
    <hr class="short-underline">

    <div class="h3 text-center"> Are you Sure? </div>
    <br>
    <div class="h3 text-center"> Who Belanja? </div>
    <br>
    <div class="h3 text-center"> Shoo? </div>
    <br>
    <div class="h3 text-center"> Fine.. </div>
    <br>
    <div class="h3 text-center"> Come </div>
  </section>

  <section class="features">
    <div class="feature text-center">
      <%= fa_icon 'spoon 3x'%>
      <h3> Mamak Session </h3>
    </div>
    <div class="feature text-center">
      <%= fa_icon 'envelope-o 3x' %>
      <h3> Forum here </h3>
    </div>
  </section>
</div>
