<div class="background">
  <div class="content">
    <h1> hi </div>
  </div>
</div>

<div class="background2">
  <div class="content1">
    <div class="invinsible-layout">
      <div class="sexybox">
    <h2> bye </h2>
  </div>
</div>
  </div>
</div>

<div class="background3">
  <div class="content">
    <hh> apasal </hh>
  </div>
</div>

<div class="features-container">
<h1 class="text-center"> WARNING </h1>

<section class="features">
  <div class="feature text-center">
    <%= fa_icon 'wheelchair-alt 3x' %>
    <h3> Why are you still here? </h5>
  </div>
  <div class="feature1 text-center">
    <%= fa_icon 'minus-circle 4x' %>
    <h4> go away! </h4>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'map-o 5x'%>
    <h5> fine.. </h5>
  </div>
  <div class="feature1 text-center">
    <%= fa_icon 'paper-plane-o 4x' %>
    <h6> zzzzz </h6>
  </div>
</section>
</div>

<section class="photo-container">
<div class="photo-box img-rounded">
  <div class="invinsible-layout">
    <div class="sexybox">
      <hi>meow!</hi>
    </div>
  </div>
  <%= image_tag "bear.jpg", class: "img-responsive img-settings img-cirle"%>
</div>
<div class="photo-box img-rounded">
  <div class="invinsible-layout">
    <div class="unsexybox">
      <hi>quack!</hi>
    </div>
  </div>
  <%= image_tag "cat.jpg", class: "img-responsive img-settings img-rounded"%>
</div>
<div class="photo-box img-rounded">
  <div class="invinsible-layout">
    <div class="sexybox">
      <hi>mooo!</hi>
    </div>
  </div>
  <%= image_tag "chick.jpg", class: "img-responsive img-settings img-thumbnail"%>
</div>
<div class="photo-box img-rounded">
  <div class="invinsible-layout">
    <div class="unsexybox">
      <hi>oink?</hi>
    </div>
  </div>
  <%= image_tag "drink.jpg", class: "img-responsive img-settings img-circle"%>
</div>
</section>

<section class="contact">
  <div class="hp text-center"> Want More? </div>
  <hr class="short-underline">

<div class="hp text-center"> Are you Sure? </div>
  <br>
<div class="hp text-center"> Who Belanja? </div>
  <br>
<div class="hp text-center"> Shoo? </div>
  <br>
<div class="hp text-center"> Fine.. </div>
  <br>
<div class="hp text-center"> Come </div>
  </section>

  <section class="features">
    <div class="feature text-center">
      <%= fa_icon 'spoon 3x'%>
      <hp> Mamak Session </hp>
    </div>
    <div class="feature text-center">
      <%= fa_icon 'envelope-o 3x' %>
      <hp> Forum here </hp>
</div>
</section>
