<div class="topic-container text-center">
  <h1 class="text-center"> Topics </h1>
    <hr class="short-underline">

<div class="topic-parent">
  <% @topics.each do |topic| %>
      <div class="topic-child text-center">
      <%= image_tag topic.image, class: "img-settings img-responsive center-block" %>
      <h2><%= topic.title %></h2>
      <h4><%= topic.description %></h4>
      <%= link_to topic.title, topic_posts_path(topic)%>
    </div>
  <% end %>
  </div>

<%= button_to "Create Topic", new_topic_path, :method => :get %>
<br>
