<div id="post-form-container">
  <%= form_for(post, url: topic_posts_path, method: :post, authenticity_token: true, remote: true, html: { id: "post-create-form", multipart: true }) do |f| %>
    <h1 class="text-center">
      Create Post
    </h1>

    <div class="form-group">
      <%= f.file_field :image, id: "post_image_field", class: 'form-control image-uploader' %>
    </div>

    <div class="form-group">
      <h4> <%= f.label :title_field, "Title" %> </h4>
      <%= f.text_field :title, required: true, id: "topic_title_field", class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4> <%= f.label :text_field, "Post" %> </h4>
      <%= f.text_field :body, id: "post_body_field", class: 'form-control' %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "Create Post", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>

</div>
