<div id="post-index-container" data-id="<%= @post.id %>" class="text-center">
    <h1 class="text-center" /h1><%= @topic.title%>
      <hr class="short-underline">
      <h1>Posts</h1>
      <hr class="short-underline">

    <div id="posts">
      <% @posts.each do |post| %>
      <%= render partial: "posts/post", locals: { post: post, topic: @topic } %>
      <% end %>
    </div>

</div>

<div class="post-form-container">
  <%= render partial: "posts/post_form", locals: { post: @post } %>
</div>

<div id="pagination">
  <%= paginate @posts %>
</div>

<br>

  <div class="text-center">
      <br>
      <%= button_to "Back to Topics", topics_path, :method => :get %>
  </div>
