<div class="post-container text-center">
  <h1 class="text-center" /h1><%= @topic.title%>
    <%= button_to "Edit Topic", edit_topic_path(@topic), :method => :get %>
    <br>
    <%= button_to "Delete Topic", topic_path(@topic), method: :delete, data: { confirm: "Delete?" } %>

    <h1>Posts</h1>
  </div>

<div class="post-parent">
  <% @posts.each do |post| %>
      <div class="post-child text-center">
      <h2><%= post.title %></h2>
      <h4><%= post.body %></h4>
    <%= link_to post.title, '#' %>
  </div>
<% end %>

</div>

<br>

<%= button_to "Create Post", new_topic_post_path, :method => :get %>
<br>
<br>
