<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= full_title(yield(:title)) %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= csrf_meta_tags %>

        <% if current_user %>
        <meta user="<%=current_user.username%>">
        <% if current_user.admin? || current_user.moderator? %>
        <meta name="admin">
        <% end %>
        <% end %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div id="header">
            <%= render partial: 'partials/header'%>
        </div>

        <div id="flash-messages-container">
            <%= render partial: "partials/flash_messages" %>
        </div>
        <%= yield %>
        </body>
    </html>
